@charset "utf-8";

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font,  footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, 
rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, 
var, video, xmp{border:0; margin:0; padding:0; font-size:100%}
html, body{height:100%; padding:0; margin:0; font-size:12px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}/* Override the default (display: inline) for browsers that do not recognize HTML5 tags. IE8 (and lower) requires a shiv: http://ejohn.org/blog/html5-shiv */
table{border-collapse:collapse; border-spacing:0} 
th, td, caption{font-weight:normal; vertical-align:top; text-align:left}
img{font-size:0; vertical-align:middle; -ms-interpolation-mode:bicubic}/* For IE. http://css-tricks.com/ie-fix-bicubic-scaling-for-images */
img{border:0} 
figure{position:relative} 
figure img{width:100%} 
svg{overflow:hidden}/* For IE9. */ 
ul, li{list-style:none} 
li{display:list-item}/* For IE6 + IE7. */
b, strong{font-weight:bold}/* Makes browsers agree. IE + Opera = font-weight: bold. Gecko + WebKit = font-weight: bolder. */
html{-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
label{display:inline-block; padding:1px 10px 0 0; margin:0; vertical-align:top; min-width:10px; max-width:900px;}
*{outline:0 !important}

.middle-content .nav li a {font-size:14px}
.middle-content .nav li .dropdown-menu a {font-size:13px}
.middle-content .nav-pills > li.active > a,.middle-content  .nav-pills > li.active > a:hover,.middle-content  .nav-pills > li.active > a:focus {background:#6b6bb6}

/********************************************************************************************************************************************/
div,span,a{font-family:Tahoma, Geneva, sans-serif; font-size:11px}

a{color:#005E9E; text-decoration:none}
a:hover,a:focus{text-decoration:none}
/* Start CSS ------------------------------------------------------------------------------------------------------------------------------ */




.bodywrapper,.bottom-header{ padding: 0px; <!--background:url(../images/outer-div.png) repeat;-->}
/** Body Starts From Here **/
.main-content {padding-bottom:10px;min-height:666px}
.middle-content{box-shadow:0 0 6px #4c4c4c;width:80%}
.header{background:#EFEFEF;}
.container h1{ color:#777;display:inline-block;margin:20px 10px}
.logout{display: inline-block; float: right; padding: 20px; font-size: 18px; font-weight: 700; color: rgb(119, 119, 119);}
.login-content {width:400px; background:url('/Content/images/login-bg.png') repeat; margin:0px auto;border: 1px solid #808080;}
.middle-content{width:80%}
.login-content .please-login { background:url('/Content/images/login-header-bg1.png') repeat;}
.login-content .user { background:url('/Content/images/username.png') no-repeat; background-position:left center; padding:6px 20px;}
.login-content .pass { background:url('/Content/images/password.png') no-repeat; background-position:left center;padding:6px 20px;} 
.login-content h3 {margin-top:0px;text-shadow: 3px 1px 1px #9D8A9C;color:#fff;}
.button-submit {background:url(/Content/images/login-button1.png) no-repeat;}
.form-group label {display:inline-block; font-size: 15px;}
.form-group input {display:inline-block;}
.forms{background:linear-gradient(to bottom, #E3E3E3 0%, #E3E3E3 5%, #F2F2F2 15%, #FCFCFC 19%, #FFFFFF 25%, #FFFFFF 31%, #FEFEFE 100%, #F5F6F6 100%, #F9FBFA 100%, #E1E6E9 100%, #FDFDFD 100%, #FDFDFD 100%, #FDFDFD 100%, #FFFFFF 100%, #FFFFFF 100%, #FAFAFA 100%, #FAFAFA 100%, #FAFAFA 100%, #2989D8 100%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);display:block;float:left;width:100%;padding-top:20px}
.main-content .nav{border:1px solid #ccc;border-width:1px 0;list-style:none;padding:0;text-align:center;background:#FFF;border-spacing:1px;}
.main-content  .nav li{display:inline;}
.main-content .nav a{display:inline-block;padding:10px;}
.main-content .nav li a {font-size:14px;color: #4A4A7F;font-weight: 700;}
.main-content .nav li .dropdown-menu a {font-size:13px}
.main-content .nav-pills > li.active > a,.main-content  .nav-pills > li.active > a:hover,.main-content  .nav-pills > li.active > a:focus {background:#6b6bb6}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){float:left}
.bootstrap-select.btn-group .dropdown-menu  {background:#e7e7e7;}
.forms .form-group{width:47%;height:50px;margin:0 0 0 10px}
.fieldset-content {align:center;width:600; height:200}
.row1 {background: #CCC url(/Content/images/border-right.png) repeat-y fixed center;}
.row2 {background: #F5F5F5 url(/Content/images/border-right.png) repeat-y fixed center;}
.row3 {background: #EBEBEB url(/Content/images/border-right.png) repeat-y fixed center;}
.border {border:1px solid #1C1C1C !important;}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.7em !important;
    font-weight: bold !important;
	color: #6B6BB2; 
	width:inherit; /* Or auto */
    padding:0 4px; /* To give a bit of padding on the left and right */
    border-bottom:none;
	margin-bottom:5px;
}
.class_table th {padding:5px 40px; border-right:1px solid gray; border-bottom:1px solid; background-color:#CCCCCC;}
.class_table th a{ font-size:15px; font-weight:bold; color : Black }
.class_table td{padding:5px 20px; border-right:1px solid #CBCBCB; font-size:13px; text-align:center;}
.class_table tr td:last-child,.class_table tr th:last-child{border-right:none;}
.class_table tr.odd {background: #F9F9F9;}
.class_table tr.even {background: #E5E5E5;}
.class_table tbody tr td a{background:url(/Content/images/box_edit-51215.png) no-repeat; font-size:13px; padding-left:18px;}

.bootstrap-select.btn-group .dropdown-menu  {background:#6b6bb6;}
.forms .form-group{width:40%;height:40px;margin:0 0 0 10px}
.forms .form-group label{width:45%;text-align:right;float:left;margin-top:5px}
.forms .form-group input{width:45%;text-align:left;float:left}
.forms .form-group .radio-group {float:left;width:45%}
.forms .form-group .radio-group input{width:10%;margin:10px 5px 0 0}
.forms .form-group .radio-group label{width:35%;text-align:left}

.forms .form-group.double-btn {width:85%;text-align:center}
.forms .form-group {text-align:center;float:left}
.forms .form-group.double-btn button,.forms .form-group.single-btn button {width:20%}
.forms .btn-success.disabled:hover,
.forms .btn-default:hover,
.forms .btn-default:focus,
.forms .btn-default:active,
.forms .btn-default.active {background-color: #b5b5da;}

.bootstrap-select .btn-default {border:1px transparent #9c9c9c;width:150px}
.bootstrap-select .dropdown-menu {line-height:20px;min-width:150px}
/* New  CSS -------------------------------------------------------------------------------------------------------------------------------- */
.main-content .nav{border:1px solid #ccc;border-width:1px 0;list-style:none;padding:0;text-align:center;background:#FFF;border-spacing:1px;}
.main-content  .nav li{display:inline;}
.main-content .nav a{display:inline-block;padding:10px;}

/* End CSS -------------------------------------------------------------------------------------------------------------------------------- */
.pos-rel{position:relative;}
.pos-abs{position:absolute;}
.pos-fix{position:fixed;}
.pos-sta{position:static;}
.float-left{ float:left}
.float-right{ float:right;}
.float-none{ float:none;}
.align-left{ text-align:left;}
.align-right{ text-align:right;}
.align-center{text-align:center}
.font9{font-size:9px;}
.font11{font-size:11px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font-bold{font-weight:bold;}
.font-normal{font-weight:normal;}
.bdr-none{ border:none !important;}
.width-100{width:100% !important;}
.width-90{width:90% !important;}
.border-btm-e0{border-bottom:1px solid #e0e0e0; padding-bottom:3px}
.border-top-e0{border-top:1px solid #e0e0e0;}
.border-right-0{ border-right:0px !important}
.border-right-1{border-right:1px solid #9E9E9E;}
.border-bottom-0{ border-bottom:0px !important}
.bdr-top-none{border-top:none !important;}
.bdr-btm-none{border-bottom:none !important;}
.red-color{color:#FF0000;}
.clear-both{clear:both}
.border-top-0{border-top:0 !important;}
.border-left-0{ border-left:0 !important;}
.width-1{width:1px;}
.width-20{width:20px !important;}
.width-30{width:30px !important}
.width-40{width:40px !important}
.width-75{width:74.9% !important;}
.width-80{width:80% !important;}
.width-80px{width:80px !important;}
.width-63px{width:63px !important;}
.width-100{width:100px;}
.border-top-0{border-top:none}
.width-45{width:45%;}
.width-40p{width:40% !important;}
.width-30p{width:30% !important;}
.width-49p{width:49% !important;}
.width-50p{width:50%}
.width-60p{width:60% !important;}
.width-63p{width:63%}
.width-70d-100ph{width:70% !important;}
.width-10d-100ph{width:10% !important;}
.width-150{width:150px !important;}
.text-align-center{text-align:center !important;}
.mrgn-left85{margin-left:85px !important;}
.height-auto{height:auto !important;}
.height-0{height:0 !important;}
.width-200{ width:200px !important;}
.width-100px{ width:100px !important;}
.height-20{height: 20px;}
.height-25{height: 25px;}
.height-30{height: 27px;}
.mrgn-lf15{ margin-left:15px !important}
.float-left-imp{ float:left !important}
.clear-both{clear:both;}
.overflow-h{overflow:hidden;}
label{cursor:text;}
.min-width-96{min-width:96px}
.mrgn-auto{margin:auto}
.overflow-hidden{overflow:hidden;}
.refresh-btn{display:inline-block; height:35px;}
ul.list-check li{background: url("/Content/images/list-style-check-red.png") no-repeat scroll 0 8px transparent !important; padding-left:15px !important;}
.search-btn{background:url(/Content/images/search-btn-icon.png) no-repeat center center; border:none; height:20px;}
/********************************************************************************************************************************************/

.mrgn100	  {margin:100px}	.mrgn95			   {margin:95px}	.mrgn90			     {margin:90px}	.mrgn85		     {margin:85px}	
.mrgn80		   {margin:80px}	.mrgn75			   {margin:75px}	.mrgn70			     {margin:70px}	.mrgn65		     {margin:65px}
.mrgn60		   {margin:60px}	.mrgn55			   {margin:55px}	.mrgn50			     {margin:50px}	.mrgn45		     {margin:45px}
.mrgn40		   {margin:40px}	.mrgn35			   {margin:35px}	.mrgn30			     {margin:30px}	.mrgn25		     {margin:25px}
.mrgn20		   {margin:20px}	.mrgn19			   {margin:19px}	.mrgn18			     {margin:18px}	.mrgn17		     {margin:17px}
.mrgn16		   {margin:16px}	.mrgn15			   {margin:15px}	.mrgn14			     {margin:14px}	.mrgn13		     {margin:13px}
.mrgn12		   {margin:12px}	.mrgn11			   {margin:11px}	.mrgn10			     {margin:10px}	.mrgn9		      {margin:9px}
.mrgn8			{margin:8px}	.mrgn7			    {margin:7px}	.mrgn6			      {margin:6px}	.mrgn5		      {margin:5px}
.mrgn4			{margin:4px}	.mrgn3			    {margin:3px}	.mrgn2			      {margin:2px}	.mrgn1	          {margin:1px}

.mrgn-top50{margin-top:50px}	.mrgn-right50{margin-right:50px}	.mrgn-bottom50{margin-bottom:50px}	.mrgn-left50{margin-left:50px}
.mrgn-top45{margin-top:45px}	.mrgn-right45{margin-right:45px}	.mrgn-bottom45{margin-bottom:45px}	.mrgn-left45{margin-left:45px}	
.mrgn-top40{margin-top:40px}	.mrgn-right40{margin-right:40px}	.mrgn-bottom40{margin-bottom:40px}	.mrgn-left40{margin-left:40px}
.mrgn-top35{margin-top:35px}	.mrgn-right35{margin-right:35px}	.mrgn-bottom35{margin-bottom:35px}	.mrgn-left35{margin-left:35px}
.mrgn-top30{margin-top:30px}	.mrgn-right30{margin-right:30px}	.mrgn-bottom30{margin-bottom:30px}	.mrgn-left30{margin-left:30px}	
.mrgn-top25{margin-top:25px}	.mrgn-right25{margin-right:25px}	.mrgn-bottom25{margin-bottom:25px}	.mrgn-left25{margin-left:25px}	
.mrgn-top20{margin-top:20px}	.mrgn-right20{margin-right:20px}	.mrgn-bottom20{margin-bottom:20px}	.mrgn-left20{margin-left:20px}	
.mrgn-top15{margin-top:15px}	.mrgn-right15{margin-right:15px}	.mrgn-bottom15{margin-bottom:15px}	.mrgn-left15{margin-left:15px}	
.mrgn-top10{margin-top:10px}	.mrgn-right10{margin-right:10px}	.mrgn-bottom10{margin-bottom:10px}	.mrgn-left10{margin-left:10px} .mrgn-left100 {margin-left:100px;}
.mrgn-top9  {margin-top:9px}	.mrgn-right9  {margin-right:9px}	.mrgn-bottom9  {margin-bottom:9px}	.mrgn-left9  {margin-left:9px}
.mrgn-top8  {margin-top:8px}	.mrgn-right8  {margin-right:8px}	.mrgn-bottom8  {margin-bottom:8px}	.mrgn-left8  {margin-left:8px}
.mrgn-top7  {margin-top:7px}	.mrgn-right7  {margin-right:7px}	.mrgn-bottom7  {margin-bottom:7px}	.mrgn-left7  {margin-left:7px}
.mrgn-top6  {margin-top:6px}	.mrgn-right6  {margin-right:6px}	.mrgn-bottom6  {margin-bottom:6px}	.mrgn-left6  {margin-left:6px}
.mrgn-top5  {margin-top:5px}	.mrgn-right5  {margin-right:5px}	.mrgn-bottom5  {margin-bottom:5px}	.mrgn-left5  {margin-left:5px}
.mrgn-top4  {margin-top:4px}	.mrgn-right4  {margin-right:4px}	.mrgn-bottom4  {margin-bottom:4px}	.mrgn-left4  {margin-left:4px}
.mrgn-top3  {margin-top:3px}	.mrgn-right3  {margin-right:3px}	.mrgn-bottom3  {margin-bottom:3px}	.mrgn-left3  {margin-left:3px}
.mrgn-top2  {margin-top:2px}	.mrgn-right2  {margin-right:2px}	.mrgn-bottom2  {margin-bottom:2px}	.mrgn-left2  {margin-left:2px}
.mrgn-top1  {margin-top:1px}	.mrgn-right1  {margin-right:1px}	.mrgn-bottom1  {margin-bottom:1px}	.mrgn-left1  {margin-left:1px}
.mrgn-top0    {margin-top:0}	.mrgn-right0    {margin-right:0}	.mrgn-bottom0    {margin-bottom:0 !important;}	.mrgn-left0    {margin-left:0}

.mrgn0	          {margin:0px auto;}	
/********************************************************************************************************************************************/

.pad100		 {padding:100px}	.pad95			  {padding:95px}	.pad90			    {padding:90px}	.pad85		    {padding:85px}
.pad80		  {padding:80px}	.pad75			  {padding:75px}	.pad70			  	{padding:70px}	.pad65		    {padding:65px}
.pad60		  {padding:60px}	.pad55			  {padding:55px}	.pad50			  	{padding:50px}	.pad45		    {padding:45px}
.pad40		  {padding:40px}	.pad35			  {padding:35px}	.pad30			    {padding:30px}	.pad25		    {padding:25px}
.pad20		  {padding:20px}	.pad19			  {padding:19px}	.pad18			  	{padding:18px}	.pad17		    {padding:17px}
.pad16		  {padding:16px}	.pad15			  {padding:15px}	.pad14			    {padding:14px}	.pad13		    {padding:13px}
.pad12		  {padding:12px}	.pad11			  {padding:11px}	.pad10			    {padding:10px}	.pad9		     {padding:9px}
.pad8		   {padding:8px}	.pad7			   {padding:7px}	.pad6			     {padding:6px}	.pad5		     {padding:5px}
.pad4		   {padding:4px}	.pad3			   {padding:3px}	.pad2			     {padding:2px}	.pad1	         {padding:1px}
			
.pad-top50{padding-top:50px}	.pad-right50{padding-right:50px}	.pad-bottom50{padding-bottom:50px}	.pad-left50{padding-left:50px}
.pad-top45{padding-top:45px}	.pad-right45{padding-right:45px}	.pad-bottom45{padding-bottom:45px}	.pad-left45{padding-left:45px}
.pad-top40{padding-top:40px}	.pad-right40{padding-right:40px}	.pad-bottom40{padding-bottom:40px}	.pad-left40{padding-left:40px}
.pad-top35{padding-top:35px}	.pad-right35{padding-right:35px}	.pad-bottom35{padding-bottom:35px}	.pad-left35{padding-left:35px}
.pad-top30{padding-top:30px}	.pad-right30{padding-right:30px}	.pad-bottom30{padding-bottom:30px}	.pad-left30{padding-left:30px}
.pad-top25{padding-top:25px}	.pad-right25{padding-right:25px}	.pad-bottom25{padding-bottom:25px}	.pad-left25{padding-left:25px}
.pad-top20{padding-top:20px}	.pad-right20{padding-right:20px}	.pad-bottom20{padding-bottom:20px}	.pad-left20{padding-left:20px}
.pad-top15{padding-top:15px}	.pad-right15{padding-right:15px}	.pad-bottom15{padding-bottom:15px}	.pad-left15{padding-left:15px}
.pad-top10{padding-top:10px}	.pad-right10{padding-right:10px}	.pad-bottom10{padding-bottom:10px}	.pad-left10{padding-left:10px}
.pad-top9  {padding-top:9px}	.pad-right9  {padding-right:9px}	.pad-bottom9  {padding-bottom:9px}	.pad-left9  {padding-left:9px}
.pad-top8  {padding-top:8px}	.pad-right8  {padding-right:8px}	.pad-bottom8  {padding-bottom:8px}	.pad-left8  {padding-left:8px}
.pad-top7  {padding-top:7px}	.pad-right7  {padding-right:7px}	.pad-bottom7  {padding-bottom:7px}	.pad-left7  {padding-left:7px}
.pad-top6  {padding-top:6px}	.pad-right6  {padding-right:6px}	.pad-bottom6  {padding-bottom:6px}	.pad-left6  {padding-left:6px}
.pad-top5  {padding-top:5px !important;}	.pad-right5  {padding-right:5px}	.pad-bottom5  {padding-bottom:5px}	.pad-left5  {padding-left:5px}
.pad-top4  {padding-top:4px}	.pad-right4  {padding-right:4px}	.pad-bottom4  {padding-bottom:4px}	.pad-left4  {padding-left:4px}
.pad-top3  {padding-top:3px}	.pad-right3  {padding-right:3px}	.pad-bottom3  {padding-bottom:3px}	.pad-left3  {padding-left:3px}
.pad-top2  {padding-top:2px}	.pad-right2  {padding-right:2px}	.pad-bottom2  {padding-bottom:2px}	.pad-left2  {padding-left:2px}
.pad-top1  {padding-top:1px}	.pad-right1  {padding-right:1px}	.pad-bottom1  {padding-bottom:1px}	.pad-left1  {padding-left:1px}
.pad-top0    {padding-top:0}	.pad-right0    {padding-right:0}	.pad-bottom0    {padding-bottom:0!important}.pad-left0    {padding-left:0 !important}

.pad0	         {padding:0}
.pad-top-bot10{padding:10px 0}
/********************************************************************************************************************************************/


select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width : 150px !important;
    margin-top : 6px !important;
}

