@{
    ViewBag.Title = "Subject Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SchoolAutomationSystem.Areas.Home.Models.SubjectDetailViewModel
<div class="row">
    <div class="main-content .col-xs-18 .col-sm-12">
        <h1 class="mrgn-left10">
            Welcome User</h1>
        <div class="login-content .col-xs-6 .col-sm-4 mrgn-top10 pad5">
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="fieldset-content">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Subject Registration</legend>
                        <div class="form-group">
                            <div class="pad5 float-left">
                                @Html.Label("Subject Name")</div>
                            <div class="float-left">
                                @Html.TextBox("Model.SubjectName", Model.SubjectName == null ? string.Empty : Model.SubjectName, new { @class = "form-control mrgn0 width-150", @style = " placeholder='Subject'" })
                            </div>
                          
                            @Html.Hidden("Model.ID", Model.ID, new { id = "Model_ID" })
                            <div class="float-left pad-left15">
                                <button id="addSubject" class="btn btn-default width-100" >Add</button>
                                
                            </div>
                            <div class="float-left pad-left15">
                                <button id="reset" type="reset" class="btn btn-default width-100">
                                    Reset</button>
                            </div>
                        </div>
                    </fieldset>
                    <div id="myGrid">
                        @{
                if (Model.lstSubjectDetails != null && Model.lstSubjectDetails.Count() > 0)
                {
                    var grid = new WebGrid(Model.lstSubjectDetails, rowsPerPage: 4, canSort: true, canPage: true, ajaxUpdateContainerId: "myGrid");
                            @grid.GetHtml(
    tableStyle: "class_table mrgn-auto border",
        headerStyle: "",
        rowStyle: "odd",
            alternatingRowStyle: "even",
            selectedRowStyle: "",
    columns: grid.Columns(

            grid.Column("Action", "Action", format: (item) => MvcHtmlString.Create("<a id = edit_" + item.Id + " href='#' onclick='editClick(event);'>Edit </a>")),
      grid.Column("SubjectName", "Subject", format: (item) => item.SubjectName)
    )
    )
                       }
            }
                    </div>
                </div>
                
    
    
}
</div>
</div></div>
            <script type="text/javascript">
                $("#reset").click(function () {
                    $("#Model_SubjectName")[0].value = "";
                    $("#Model_ID")[0].value = "";
                    return false;
                });
                $(document).ready(function () {
                    $("#Model_SubjectName")[0].value = "";
                    $("#Model_ID")[0].value = "";
                    $("#addSubject").click(function () {
                        $('form')[0].submit();
                        //$("#Model_id")[0].value = "";
                    });

                });

                function editClick(e) {

                    var $element = e.target.id;
                    var tempId = $element.split("_");

                    e.preventDefault();

                    //editClass(tempId[1]);

                    var url = window.location.href;
                    url = url.substring(0, url.lastIndexOf("/Registration"));
                    // alert("url");
                    $.ajax({
                        url: url + "/Registration/GetSubjectName",
                        type: "POST",
                        data: { SubjectID: tempId[1] },

                        success: function (result) {
                            var a = result;
                            $("#Model_SubjectName")[0].value = result;
                            $("#Model_ID")[0].value = tempId[1];

                        },
                        error: function (xhr, status, error) {
                        }
                    });

                    return false;

                } 
            </script>
