<ul class="nav nav-pills">
    <li class="dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle">
        Registration <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href=@Url.Content("~/Home/Registration/ClassRegistration")>Class Registarion</a></li>
            <li><a href=@Url.Content("~/Home/Registration/DivRegistration")>Div Registarion</a></li>
            <li><a href=@Url.Content("~/Home/Registration/SubjectRegistration")>Subject Registarion</a></li>
            <li><a href=@Url.Content("~/Home/Registration/FacultySearch")>Faculty Registarion</a></li>
            <li><a href=@Url.Content("~/Home/Registration/StudentSearch")>Student Registarion</a></li>
            <li><a href=@Url.Content("~/Home/Registration/ActivityRegistration")>Activity Registarion</a></li>
        </ul>
    </li>
    <li>@Html.ActionLink("Subject Mapping", "SubjectMapping", "Registration")</li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Result
        Management <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li>
            <a href=@Url.Content("~/ResultManagement/Result/BulkResult")>Bulk Result</a>
            </li>

            <li><a href="#">Result2</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">User
        Management <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#">Result1</a></li>
            <li><a href="#">Result2</a></li>
        </ul>
    </li>
</ul>
